.myform{
    margin: 20px;
}
.my-filter{
    width: 30%;
    margin-top: 30px;
    margin-left: 20px;
}
.edit-btn{
    color: #3f51b5 ;
}
.del-btn{
    color:red;
}
.com-text{
    color: red;
    
}
.pen-text{
    color:green;
   
}
.tabl{
    background-color: aquamarine;
}
.btn{
    background-color: #3f51b5 ;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;

}
